body {
  background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png");
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: var(--fonte-principal);
}

.botoes {
  display: flex;
  margin-top: 5px;
}

.info {
  display: flex;
  gap: 5px;
}

.btn {
  color: black;
  font-size: larger;
  width: 80px;
  height: 40px;
  margin: 0 10px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn:disabled {
  cursor: auto;
  background-color: rgb(155, 155, 155);
}

.btn:disabled:hover {
  cursor: auto;
  background-color: rgb(155, 155, 155);
}

.btn:hover {
  background-color: rgb(255, 125, 85);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  margin-top: 50px;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: center;
  justify-content: center;
}

#link {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#card-pokemon:hover {
  background-color: #d4d4d6;
}

#card-pokemon {
  display: block;
  background-image: url("https://i.pinimg.com/originals/33/ac/6a/33ac6af8e90054568ab47ad0ef2d02a2.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  width: 220px;
  height: 220px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  font-family: var(--fonte-principal);
  font-weight: 600;
  flex-wrap: wrap;
  font-size: 20px;
}

.inicio {
  display: flex;
  background-color: rgb(255, 60, 0);
  border-radius: 15px 15px 0 0;
  align-items: center;
  justify-content: space-around;
  height: 30px;
}

.bloco {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#imagem {
  width: 130px;
  height: 130px;
}

#nome {
  text-transform: uppercase;
  font-family: var(--fonte-krona);
}

.tipos {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  margin-top: 10px;
}

@media only screen and (max-width: 1440px) {
  header {
    width: 100%;

    .navbar {
      background-color: rgb(255, 60, 0);
      height: 17vh;
      border-bottom: 2px dotted rgb(236, 236, 76);
      display: flex;
      justify-content: center;

      .nav {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
