<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista</title>
  </head>
  <body>
    <app-header [titulo]="titulo"></app-header>
    <main class="container">
      <section class="content">
        <article class="card-item" *ngFor="let lista of paginaAtual; let i = index">
          <a class="card-link" [routerLink]="['/detail', paginaAtual[i].id]">
            <div class="bloco">
              <img [src]="paginaAtual[i].imageDefault" alt="pokemon photo" />
              <div class="info">
                <h2>{{ paginaAtual[i].name }}</h2>
              </div>
              <div class="types">
                <span class="type-pill">{{ paginaAtual[i].type1 }}</span>
                <span class="type-pill" *ngIf="paginaAtual[i].type2">{{ paginaAtual[i].type2 }}</span>
              </div>
            </div>
          </a>
        </article>
      </section>

      <div class="pagination">
        <button title="Primeira página" class="btn" (click)="primeiraPagina()" [disabled]="habilitaPrimeiraPagina()">&#171;</button>
        <button title="Página anterior" class="btn" (click)="anteriorPagina()" [disabled]="habilitaRetrocesso()">&lt;</button>
        <button title="Próxima página" class="btn" (click)="proximaPagina()" [disabled]="habilitaAvanco()">&gt;</button>
        <button title="Última página" class="btn" (click)="ultimaPagina()" [disabled]="habilitaUltimaPagina()">&#187;</button>
      </div>
    </main>
    <app-footer></app-footer>
  </body>
</html>
