<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=
  , initial-scale=1.0"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="shortcut icon"
      href="https://assets.pokemon.com/static2/_ui/img/favicon.ico"
    />

    <title>Pokedex</title>
  </head>
  <body>
    <header>
      <app-header></app-header>
    </header>
    <main>
      <section>
        <div class="container">
          <h1 class="titulo">Busque por seu pokemon favorito!</h1>
          <a class="link" [routerLink]="link"><p>Procurar pokemon</p></a>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
