.header {
  width: 100%;
  position: relative;
  z-index: 10;
}

.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: min(1000px, 92%);
  margin: 10px auto;

  color: white;
  font-weight: bold;
  font-family: var(--fonte-principal);
}

.bl1 {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}

.bl2 {
  font-size: 18px;
}

.material-symbols-outlined {
  font-size: 28px;
  transition: transform 0.2s ease;
}

.link {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.link:hover {
  color: #ff7d55;
}

.link:hover .material-symbols-outlined {
  transform: translateX(-4px);
}
