div {
  background-color: #ec2300;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 30px;
  align-items: center;
  font-family: var(--fonte-principal);
  color: white;
  border-top: 1px solid #CF0A0A;
}

