div {
  background-color: rgb(255, 88, 38);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 30px;
  align-items: center;
  font-family: var(--fonte-principal);
  color: white;
  border-top: 1px solid #cf0a0a;
}
