header {
  background-color: rgb(255, 88, 38);
  display: flex;
  width: 100vw;
  height: 80px;
  font-family: var(--fonte-principal);
  color: #000000;
  font-size: large;
}

img {
  width: 100px;
}

ul {
  display: flex;
  width: 100vw;
  height: 80px;
  flex-direction: row;
  align-items: center;
}
li {
  margin: 0 10px 0 10px;
  font-weight: bolder;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 10px;
}

.link a:hover {
  cursor: pointer;
  color: black;
  transition: 0.3s;
}

.link a:active {
  color: black;
}

.link:active {
  background-color: #cf1f00;
}

.link a {
  color: rgb(53, 53, 53);
  text-decoration: none;
}

p {
  font-size: larger;
}
