:root {
  --fonte-principal: "Montserrat", sans-serif;
  --cor-preta-cinza: rgb(29, 28, 28);
  --fundo-amarelo: #ffc312;
  --fonte-krona: "Krona One", sans-serif;
  --fundo: #1f2124;
  --fire: #ff6961;
  --water: #6a9eda;
  --grass: #5dc460;
  --electric: #ffff7d;
  --fighting: #e2e37e;
  --ice: #e4fbfb;
  --psychic: #42ab49;
  --poison: #b186f1;
  --normal: #d8af97;
  --dark: #888a8a;
  --ground: #ffe180;
  --steel: #bdbfbf;
  --rock: #9b9b9b;
  --bug: #ff9688;
  --flying: #96c4c4;
  --ghost: #515151;
  --dragon: #ff9800;
  --fairy: #fdcae1;
  --fireW: var(--normal);
  --waterW: var(--steel);
  --grassW: var(--psychic);
  --electricW: var(--dragon);
  --fightingW: var(--rock);
  --iceW: var(--water);
  --psychicW: var(--poison);
  --poisonW: var(--grass);
  --normalW: var(--ground);
  --darkW: var(--ghost);
  --groundW: var(--normal);
  --steelW: var(--dark);
  --rockW: var(--bug);
  --bugW: var(--eletric);
  --flyingW: var(--ice);
  --ghostW: var(--fighting);
  --dragonW: var(--fairy);
  --fairyW: var(--fire);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
}
